lxml==4.4.1
numpy==1.17.0
APScheduler==3.6.3
Django==2.2.4
brotli==1.0.7
cryptography==2.8
Cython==0.29.15
djangorestframework==3.11.0
importlib_metadata==1.5.0
ipaddr==2.2.0
keyring==21.1.0
lockfile==0.12.2
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.11.3
pyOpenSSL==19.1.0
python-decouple==3.3
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
zipp==3.0.0
